<div class="container">
  <h1>Coaching#answer</h1>
  <h2><%= @query %></h2>
  <h3>You</h3>


  <h2><%= @coach_answer %></h2>
  <h3>Coach answer</h3>

  <%= link_to "Ask a new question", "/ask" %>
</div>
